.site-footer{
    background: $topics_color;
    padding: 29px 0 20px;
    margin-top: 5%;
    h2{
        color: $white;
        font-size: 14px;
        margin-bottom: 0;
    }

    ul{
        margin-bottom: 0;
        li{
            a{
                color: $white;
                font-size: 16px;
                text-align: right;  
            }
        }
    }
}