#index_header{
    background-image: url("../img/Header Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    margin-bottom: 4%;
}

#index_header {
    .menu-main-container {
        width: 100%;
    }

    a.navbar-brand.custom-logo-link {
        width: 100%;
        display: flex;
        margin-top: 7%;
    }

    .navbar-brand img {
        max-width: 400px;
        margin: auto;
    }
}
