.navbar-brand img {
    max-width: 210px;
}

ul#main-menu li {
    a.nav-link {
       
        padding: 8px 16px;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
        transition: 0.6s;
        margin: 10px;

        &:hover{
            -webkit-box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
            -moz-box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
            box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
        }
    }  
}

li#menu-item-47 a {
    background: $primary-color;
}

li#menu-item-54 a {
    background: $gray;
}

nav#main-nav {
    margin-bottom: 20px;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0!important;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 10rem;
    padding: 0 10px;
    margin: 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-radius: .25rem;
}
.dropdown-menu {
    li{
        
   .dropdown-item {
        background: $gray;
        padding: 8px 16px;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
        transition: 0.6s;
        max-width: 67px;

        &:hover{
            -webkit-box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
            -moz-box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
            box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
        }

    }
}


}