.singel_post {
    max-width: 850px;
    margin-bottom: 60px;
}

.entry-header {
    margin-bottom: 40px;

    img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        margin-bottom: 35px;
    }

    span {
        font-weight: 600;
        color: $gray;
        margin-bottom: 15px;
        display: block;
    }
}

h1.entry-title {
    font-size:35px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 50px;
}

ul.tags-links li {
    color: $topics_color;
    background: #e2e2e2;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 700;
}


.entry-content {
    line-height: 28px;
    p{
        margin-bottom: 0;
    }
}

.blog_writer {
    width: 100%;
    display: flex;
    margin: 10px 0;

    .blog_write_r {
        margin: 0 5px 0 0;

        img {
            max-width: 70px;
            background: $topics_color;
            border-radius: 100px;
        }
    }

    .blog_write_l {
        margin: 12px 0 0;

        h4 {
            font-size: 20px;
            margin-bottom: 6px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
}


span.cat-links {
    display: none;
}

.single_card_blog {
    min-height: 552px;

    .entry-header {
        margin-bottom: 40px;
    
        img {
            max-height: 500px;
        }
    }
}


.single_card_trnding{
    border-radius: 10px;
    .entry-header {
    
        img {
            max-height: 283px;
            border-radius: 10px 0 0 10px!important;
        }
    } 
}

.single_card {

    -webkit-box-shadow: 0px 2px 18px 0px #0000001f;
    -moz-box-shadow: 0px 2px 18px 0px #0000001f;
    box-shadow: 0px 2px 18px 0px #0000001f;
    border: none;
    margin-bottom: 30px;
    transition: 0.4s;
    border-radius: 10px;


    .entry-header img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
 
        margin-bottom: 0;
    }

    .entry-header {
        margin-bottom: 0;
    }

    .entry-content {
        a {
            color: $topics_color;

            &:hover {
                text-decoration: none;
            }
        }

        ul.tags-links li {

            font-size: 10px;
            pointer-events: none;
            cursor: default;
            padding: 0 12px;
        }

        h2 {
            color: $topics_color;
            font-size: 20px;
            margin-bottom: 10px;
            line-height: 29px;
            font-weight: 800;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;


            &:hover {
                text-decoration: none;
            }
        }
    }


    span.tags-links {
        margin-bottom: 20px;
        display: block;
    }

    .date_tab {
        margin-bottom: 4px;
        display: block;
        font-size: 14px;
        color: #919191;
        font-weight: 600;
    }

    &:hover {
        -webkit-box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
        -moz-box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
        box-shadow: 0px 3px 5px 1px rgba(212, 212, 212, 1);
    }
}


span.edit-link {
    display: none;
}

.entry-content_box {
padding: 20px;
}

.card-link {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .card-link:hover {
    text-decoration: none;
    color: inherit;
}



.card-link+.card-link {
    margin-left: 0;
}