.section_topic {
    margin-bottom: 55px;

    h2 {
        font-size: 26px;
        font-weight: 700;
        border-bottom: 3px solid #f1f1f1;
        padding-bottom: 9px;
    }

    h2:after {
        content: " ";
        border-bottom-style: solid;
        border-bottom-width: 3px;
        display: table-cell;
        width: 35px;
        border-color: #000;
        padding: 4px;
        position: absolute;
        top: 33%;
    }
}



.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $topics_color;
    border-color: $topics_color;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $topics_color;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: $topics_color;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    box-shadow: 0 0 0 0 #00000040;
}

.pagination {
    margin-top: 40px;
}

#featured,
#trending {
    padding-bottom: 4%;
}

#newsletter {
    background-image: url("../img/Newsletter background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5% 0;
    text-align: center;
    color: $white;
    margin-bottom: 4%;

    h2 {
        font-weight: 700;
        margin-bottom: 16px;
    }


    .btn {
        background: $secandery_color;
        color: #000;
        border: 0;
        padding: 0.4em 1em;
        font-weight: 600;
        text-transform: uppercase;
    }

    .input-group {
        max-width: 400px;
        margin: auto;
        margin-top: 30px;
    }
}