@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  color: $topics_color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


P,h1,h2,h3,h4,h5,h6,a,li,span,a {
  font-family: 'Montserrat', sans-serif;
}

p,body{
  font-weight: 500;
}

span{
  font-size: 14px;
}