@media screen and  (max-width: 1024px){
    #index_header {
        height: 25vh;

    }

    .single_card_blog {
        min-height: 524px;
    }

    .single_card_blog {
        min-height: 524px;
    }

    .container-fluid {
        max-width: 990px;
    }

    .singel_post {
        max-width: 600px;
        margin-bottom: 4px;
    }
}