@media screen and  (max-width: 414px){
    #index_header {
        height: 35vh;
    }

    #index_header .navbar-brand img {
        max-width: 230px;
        margin: auto;
    }

    .section_topic {
        margin-bottom: 24px;
    }

    .section_topic h2:after {
        top: 46%;
    }

    #newsletter {
        padding: 15% 0;
    }

    .site-footer {
        padding: 34px 0 24px;
        margin-top: 2%;
        text-align: center;
    }

    .site-footer ul {
        margin-bottom: 0;
        margin: auto;
        display: inline-block;
        margin-top: 20px;
    }


    
h1.entry-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 35px;
}

.navbar-brand img {
    max-width: 135px;
}

.entry-header img {
    margin-bottom: 22px;
}

.entry-header span {

    margin-bottom: 5px;

}

ul#main-menu li a.nav-link {
    padding: 6px 8px;
    font-size: 10px;
    margin: 4px;
}

ul#main-menu li a.nav-link span {
    font-size: 10px; 
}

nav#main-nav .container-fluid {
    padding: 0;
}
.entry-header {
    margin-bottom: 25px;
}

.single_card_blog {
    min-height: 100%;
}

.dropdown-menu {

    min-width: 100%;
    padding: 0 0px;
    margin: 0 0;
    font-size: 10px;
    border-radius: .25rem;
}
.dropdown-menu  span{
    font-size: 10px;   
}

.dropdown-menu li .dropdown-item {
    padding: 4px 10px;
    font-size: 14px;
    max-width: 46px;
}
}

